{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang MySql Crud Example</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Golang MySql Crud Example</h1>
{{ end }}